@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300ita‌​lic,400italic,500,500italic,700,700italic,900italic,900);
html, body, html * {
  font-family: 'Roboto', sans-serif;
}

.fa-star {
    color: gray;
}

.checked {
    color: orange;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
  }

#titlePhoto {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

#infoContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 10px;
}

.instructionPhoto {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    padding: 10px;
}

#foodInfo {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.dietParagraph {
    text-align: center;
}